@charset 'UTF-8';

/* SCSS HEX */
/* $dark-slate-gray: #273F3Eff;
$laurel-green: #A4B297ff;
$outer-space-crayola: #1E3236ff;
$xanadu: #758B79ff;
$artichoke: #85967Fff; */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-right: linear-gradient(90deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-bottom: linear-gradient(180deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-left: linear-gradient(270deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-top-right: linear-gradient(45deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-bottom-right: linear-gradient(135deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-top-left: linear-gradient(225deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-bottom-left: linear-gradient(315deg, #273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff);
$gradient-radial: radial-gradient(#273F3Eff, #A4B297ff, #1E3236ff, #758B79ff, #85967Fff); */